h3 {
  text-align: center;
  margin: 3em 0;
}

.cart {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  li {
    list-style: none;
    margin: 1em;
  }
  &__remove {
    margin: 1em;
  }
  &__list {
    @media (max-width: 575.98px) {
      display: flex;
      justify-content: row;
      align-items: center;
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
